<footer>
    <div class="disclaimer">

        <h3>Disclaimer</h3> All the copyright images used on this site is solely for education purposes only, all copyrights belong to their respective owners.
    </div>
    <div class="aboutMe">
        <h3>About Me</h3>
        <div>
            Kenrick Wu
        </div>
        <div>
            Fontend Web Developer
        </div>
    </div>
    <div class="contact">
        <h3>Contact Us</h3>
        <div>
            Tel: 1300-123-456
        </div>
        <div>
            E: booku@gmail.com
        </div>
    </div>
</footer>
