-var year = new Date().getFullYear();
doctype html
html
	head
		title= Booku 
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		// bower:css
		// endbower
		// inject:css
		// endinject
	body(data-ng-app="booku")
		header.navbar-brand
			#menu.navbar.navbar-inverse.navbar-fixed-top
				.navbar-header
					#logo
						button(data-toggle="collapse" data-target=".navbar-collapse").btn.btn-success.navbar-toggle
							span.glyphicon.glyphicon-list
						a(ui-sref="home")
							h1 Booku
				#logoIcons.navbar-collapse.collapse
					ul.nav.navbar-nav.navbar-right
						li.nav
							a(ui-sref="home") Home
						li.nav
							a(ui-sref="bookList") Book List
						li.nav 
							a(ui-sref="about") Kenrick Wu
						li.nav
							a(href="http://www.gulpjs.com" target="_blank")
								img(src="/images/gulp-tiny.png")
						li.nav
							a(href="http://www.angularjs.org" target="_blank")
								img(src="/images/mongodb.png" target="blank")
						li.nav
							a(href="http://www.expressjs.com" target="_blank")
								img(src="/images/expressjs.png")
						li.nav
							a(href="http://www.angularjs.org" target="_blank")
								img(src="/images/angularjs-small.png" target="blank")
						li.nav
							a(href="http://www.nodejs.org" target="_blank")
								img(src="/images/nodejs.png")
		section#main
			block content
			// bower:js
			// endbower
			// inject:js
			// endinject
		footer
			p.text-center Kenrick Wu &copy; #{year}
