niceGreen= #0cff00
liveYellow = #fcff00
brightOrange = #ffa200
coolBlack = #3b3b32
deepBlue = #1968c1
bluey = #30aadc
greener = #7fe39e
redder = #c12919
coolOrange = #fbe685

body
	padding 0px
	margin-top 65px	

h1, h2, h3, h4, h5, h6
	font-weight normal
	
h1
	margin 0px

a, a:link, a:visited, a:hover, a:active
	color #ccc
	text-decoration none

// ---------------------------------------------------------------------
// Header Section
// ---------------------------------------------------------------------

.navbar
	background  coolBlack

#logo
	margin-left 30px

#logoIcons img
	height 20px

// ---------------------------------------------------------------------
// Side bar and navigation
// ---------------------------------------------------------------------

#navList
	float left
	width 250px
	height 600px
	padding 0px
	font-size 18px
	color #fff
	background #5b5b59

#navList ul
	margin 0
	padding 0
	list-style none

#navList li
	margin 10px 0 
	padding 10px 0
	display block

#navList li:hover
	background bluey
	transition background 1.0s ease

#navList span
	margin-left 30px

// ---------------------------------------------------------------------
// Main content
// ---------------------------------------------------------------------

td a,
td a:link, 
td a:visited, 
td a:active
	color bluey

#meanList li
	float left
	list-style none
	font-family courier

#meanList li:hover
	background #fff
	transition background 1.0s ease

#meanList div
	margin-top 50px

.tech 
	width 300px
	height 200px
	margin 10px
	border-radius 8px

#mongo
	background #fbe685

#node
	background #06e225

#express
	background #f5f758

#angular
	background #58aaf7

#gulp
	background #b54e3a

#git
	background #a8bfbb

.jumbotron
	padding 50px

footer
	clear both

// ---------------------------------------------------------------------
// Dashboard and tiles
// ---------------------------------------------------------------------

#dashboard
	list-style none

.tile
	float left
	height 120px
	width 150px
	padding 20px 0
	margin 20px 20px
	border-radius 10px

.title-author
	background-color brightOrange 
.tile-book
	background-color bluey
.tile-add
	background niceGreen

#dashboard li:hover
	background coolBlack 
	transition background 0.5s ease

.tile span 
	color #fff 
	font-size 30px

.glyphicon.glyphicon-home,
.glyphicon.glyphicon-book,
.glyphicon.glyphicon-education,
.glyphicon.glyphicon-plus
	color white
	font-size 51px

#bookCounter
	color #fff
	valgin top
	margin-left 20px
	font-size 51px

.tile
	padding 10px 0 0 10px
	
.tile-icon
	margin-right 20px
	float right

.tile-icon p 
	padding 0
	display inline
	color #fff
	font-size 60px

// ------------------------------------------
// Forms
// ------------------------------------------
.panel
	margin-top 50px
	margin-left 50px
