#bookDetail 
    display flex
    flex-flow row wrap
    justify-content center

    .bookImage, .bookInfo, .reviews
        margin 50px 0
        padding 0 20px

    .bookImage
        width 15%
    .bookInfo
        width 45%
    .reviews
        width 35%
    
    img
        width  225px
        height 260px
        display block
        box-shadow 2px 2px 2px 2px rgba(0, 0, 0, 0.2)

    .comments
        font-style italic

    .author-heading
        padding 15px
        background #deff9f

    ul
        li
            display flex
            flex-flow column wrap
            margin-bottom 10px
.publishingDetail
    text-align right
.reviews
    h4
        padding 15px
        background #2ea2ff
.rating 
    color #eccb15

.reviewList
    display flex
