#bookDetail 
    box-sizing border-box
    display flex
    div
        max-width 100%

.bookInfo
    display flex

.bookSummary
    font-size 1.2em

    div:first-child
        padding 15px
        margin-bottom 15px
        font-size 1.5em
        background #1c7eab

.bookInfo
    font-size 1.5em
    display flex
    flex-flow column wrap

    div
        text-align center

    div:first-child
        padding 55px
    div:nth-child(2n)
        padding 15px
        background-color #e8fff5
    div:last-child
        padding 15px
        background-color #ffdd7f
