niceGreen= #0cff00
liveYellow = #fcff00
brightOrange = #ffa200
coolBlack = #3b3b32
deepBlue = #1968c1
bluey = #30aadc
greener = #7fe39e
redder = #c12919
coolOrange = #fbe685
gunmetal = #626257

html, body, img, video, .main
    max-width 100%
    overflow-x hidden

h1, h2, h3, h4, h5, h6, ul, body, header
    margin 0
    padding 0


a, a:link, a:visited, a:hover, a:active
    color #ee
    text-decoration none

#container
    display flex
    flex-flow column wrap

header
    width 100%
    height 125px
    color #ee
    background gunmetal
    font-family "Lato", sans-serif
    display flex

    .main-title
        h1
            font-size 2em
        i 
            inline-block

        display flex
        margin-right 20px

    nav
        margin auto
        display flex
        justify-content center

        h1, ul
            margin auto

        ul
            font-size 1.5em
            list-style none
            display flex
            flex-flow: row wrap
            li
                margin 0 10px

.main
    min-height 800px
    overflow auto

.fa-book
    font-size 4.5em

body
    font-family "Roboto", sans-serif

footer
    position fixed
    bottom 0
    left 0
    padding 2%
    color #ee
    width 100%
    background gunmetal
    display flex

    .disclaimer
        flex-grow 2

    .aboutMe, .contact 
        flex-grow 1
