niceGreen= #0cff00
liveYellow = #fcff00
brightOrange = #ffa200
coolBlack = #3b3b32
deepBlue = #1968c1
bluey = #30aadc
greener = #7fe39e
redder = #c12919
coolOrange = #fbe685
gunmetal = #626257

html, body, img, video, footer, #container {
    width 100%
    max-width 100%
}

h1, h2, h3, h4, h5, h6, ul, body {
    margin 0
    padding 0
}

ul
    list-style none

a, a:link, a:visited, a:hover, a:active {
	color #ccc
	text-decoration none
}

#container {
    display flex
    flex-flow column wrap
    justify-content center
}

header {
    display flex
    justify-content center
    height 120px
    background gunmetal

    img {
        width 45px
        height 35px
    }

    ul {
        display flex
        justify-content space-between
        font-size 1.5em

        li:nth-child(1n+2) {
            margin-left 20px
        }
    }

    div:first-child, nav {
        margin auto
    }
}

footer
	position fixed
	height 100px
	background gunmetal
