niceGreen= #0cff00
liveYellow = #fcff00
brightOrange = #ffa200
coolBlack = #3b3b32
deepBlue = #1968c1
bluey = #30aadc
greener = #7fe39e
redder = #c12919
coolOrange = #fbe685
gunmetal = #626257

html, body, img, video 
    width 100%
    max-width 100%

h1, h2, h3, h4, h5, h6, ul, body, header
    margin 0
    padding 0


a, a:link, a:visited, a:hover, a:active
    color #ee
    text-decoration none

#container
    display flex
    flex-flow column wrap

header
    height 120px
    color #ee
    background gunmetal
    font-family "Lato", sans-serif
    display flex

    .main-title
        h1
            font-size 2em
        i 
            inline-block

        display flex
        margin-right 20px
    nav
        margin auto
        display flex
        justify-content center

        h1, ul
            margin auto

        ul
            font-size 1.5em
            list-style none
            display flex
            flex-flow: row wrap
            li
                margin 0 10px

.fa-book
    font-size 5.5em

body
    font-family "Roboto", sans-serif

footer
    text-align center
