.container
	.jumbotron
		p My name is Kenrick, currently living in the awesome city of Perth, in Western Australia. An aspiring web developer looking to expand my knowledge in software development field. My interests include spending times with my families and friends, software development, fine arts (drawing and digital painting) and I casually play some League of Legends (LOL) on my Mac.

		p I am currently seeking an awesome company to unleash and as well as hone my web development skills. I started my career in IT providing technical support for ADSL and broadband customers around Australia for Westnet then I moved into IT consultancy with Fujitsu Australia working as a support and maintenance programmer for various government and private companies which later propelled me into the Oil and Gas sector working for Woodside Energy supporting their enterprise SharePoint infrastructure and mission critical applications.

		p In my career, I've worked with multitude of platforms and technologies, from Microsoft's client operating systems such as Windows XP, 7 and 8 to backend servers such as Windows Server 2005, 2008, 2012 and SharePoint farms running on MS SQL databases with an enterprise workflow engines such as K2 BlackPearl attached. I've also got a chance to work with the UNIX and OSX environment during my time at Woodside which gave me an easy transition back into the open source world which I learnt during my spare times.

		p
			span.pull-right
				em -- Kenrick Wu