.container
	.jumbotron
		p.intro Booku is a book repository web application built with the MEAN stack technologies. The primary purpose of this application was used to hone my skills in web development using technologies provided by the open source community to build a full fledge web application using both front-end as well as back-end technologies.

		p This application uses Node as the back-end server, Express as the web-platform, Angular as the front-end JavaScript framework, Gulp as its automation and build tool, Karma as the test runner and MongoDB as its back-end database. Ultimately all great apps should be versioned and stored in a safe and easy to retrieve location for this Git was the source control of choice.

		ul#meanList
			li#mongo.tech
				div
					h2.text-center MongoDB
					p.text-center Database
			li#express.tech
				div
					h2.text-center Express 
					p.text-center Web Framework
			li#angular.tech
				div
					h2.text-center Angular
					p.text-center Client
			li#node.tech
				div
					h2.text-center Node
					p.text-center Server
			li#gulp.tech
				div
					h2.text-center Gulp
					p.text-center Build Tool
			li#git.tech
				div
					h2.text-center Git
					p.text-center Version Control

