body {
  margin-top: 55px;
}
a {
  color: #ccc;
  text-decoration: none;
}
.author {
  margin-right: 50px;
}
#logo {
  margin-left: 35px;
}
.navbar {
  background: #111;
}
#sideBar {
  width: 230px;
  height: 1024px;
  float: left;
  display: block;
  background: #3b3b32;
  color: #eee;
  position: relative;
}
#sideBar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#navList > li {
  margin-top: 10px;
  display: block;
  padding: 12px 20px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #222;
}
#navList > li:active {
  background: #30aadc;
}
#navList > li:hover {
  background: #30aadc;
  transition: background 0.5s ease;
}
.navbar img {
  height: 20px;
}
.dashboard {
  margin-top: 20px;
}
.dashboard-tiles {
  list-style: none;
}
.dashboard-tiles li {
  padding: 10px;
}
.tile {
  width: 150px;
  height: 120px;
  margin: 0 20px 20px 0;
}
.title-author {
  background-color: #ffa200;
}
.tile-book {
  background-color: #30aadc;
}
.tile span {
  color: #fff;
  font-size: 20px;
}
.glyphicon.glyphicon-book {
  font-size: 51px;
}
.glyphicon.glyphicon-education {
  font-size: 51px;
}
thead > th.info {
  background-color: #30aadc;
}
