body {
  margin-top: 70px;
}
#logo {
  margin-left: 15px;
}
.dashboard-tiles {
  list-style: none;
}
.dashboard-tiles li {
  padding: 10px;
}
.tile {
  width: 150px;
  height: 120px;
  margin: 0 20px 20px 0;
}
.title-author {
  background-color: #ffa200;
}
.tile-book {
  background-color: #0cff00;
}
.glyphicon.glyphicon-book {
  font-size: 51px;
}
.glyphicon.glyphicon-education {
  font-size: 51px;
}
