niceGreen= #0cff00
liveYellow = #fcff00
brightOrange = #ffa200

body
	margin-top 70px
#logo
	margin-left 15px

.dashboard-tiles
	list-style none

.dashboard-tiles li 
	padding 10px

.tile
	width 150px
	height 120px
	margin 0 20px 20px 0
	
.title-author
	background-color brightOrange 

.tile-book
	background-color niceGreen 

.glyphicon.glyphicon-book
	font-size 51px

.glyphicon.glyphicon-education
	font-size 51px
