#bookList {
  display: flex;
  flex-flow: row wrap;
}
#bookList img {
  width: 256px;
  height: 325px;
  display: block;
}
.bookContainer {
  padding: 5px;
  width: 286px;
}
.priceTag {
  text-align: center;
  height: 50px;
}
