#bookList {
  padding: 5%;
}
#bookList img {
  width: 123px;
  height: 152px;
  display: block;
}
#bookList ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
#bookList ul li {
  margin-right: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#bookList ul li:hover {
  opacity: 0.5;
  color: #ff0;
  transition: background 0.8s ease;
}
