#bookDetail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#bookDetail .bookImage,
#bookDetail .bookInfo,
#bookDetail .reviews {
  margin: 50px 0;
  padding: 0 20px;
}
#bookDetail .bookImage {
  width: 15%;
}
#bookDetail .bookInfo {
  width: 45%;
}
#bookDetail .reviews {
  width: 35%;
}
#bookDetail img {
  width: 225px;
  height: 260px;
  display: block;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#bookDetail .comments {
  font-style: italic;
}
#bookDetail .author-heading {
  padding: 15px;
  background: #deff9f;
}
#bookDetail ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 10px;
}
.publishingDetail {
  text-align: right;
}
.reviews h4 {
  padding: 15px;
  background: #2ea2ff;
}
.rating {
  color: #eccb15;
}
.reviewList {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
