#bookDetail {
  display: flex;
}
#bookDetail .bookImage,
#bookDetail .bookInfo,
#bookDetail .reviews {
  margin: 50px 0;
  padding: 0 50px;
}
#bookDetail .bookImage {
  width: 25%;
}
#bookDetail .bookInfo {
  width: 60%;
}
#bookDetail img {
  width: 225px;
  height: 260px;
  display: block;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#bookDetail .comments {
  font-style: italic;
}
#bookDetail .author-heading {
  padding: 15px;
  background: #c3bd98;
}
#bookDetail ul li {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 10px;
}
.rating {
  color: #eccb15;
}
.reviewList {
  display: flex;
}
