#bookList {
  margin: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#bookList img {
  width: 123px;
  height: 152px;
}
#bookList ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
#bookList li {
  margin: auto;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}
#bookList li:hover {
  position: relative;
  -webkit-transform: translatey(50px) scalex(2) scaley(2);
          transform: translatey(50px) scalex(2) scaley(2);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
