#bookDetail {
  box-sizing: border-box;
  display: flex;
}
#bookDetail div {
  max-width: 100%;
}
.bookInfo {
  display: flex;
}
.bookSummary {
  font-size: 1.2em;
}
.bookSummary div:first-child {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1.5em;
  background: #1c7eab;
}
.bookInfo {
  font-size: 1.5em;
  display: flex;
  flex-flow: column wrap;
}
.bookInfo div {
  text-align: center;
}
.bookInfo div:first-child {
  padding: 55px;
}
.bookInfo div:nth-child(2n) {
  padding: 15px;
  background-color: #e8fff5;
}
.bookInfo div:last-child {
  padding: 15px;
  background-color: #ffdd7f;
}
