.jumbotron {
  padding: 50px;
}
#meanList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
#meanList li {
  width: 250px;
  height: 150px;
  margin: 1%;
  border-radius: 15px;
  display: flex;
}
#meanList li div {
  margin: auto;
}
#mongo {
  background: #fbe685;
}
#node {
  background: #58aa3a;
}
#express {
  background: #f5f758;
}
#angular {
  background: #58aafa;
}
#gulp {
  background: #b54e3a;
}
#git {
  background: #a8bfbb;
}
