html,
body,
img,
video,
footer,
#container {
  width: 100%;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
body {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #ccc;
  text-decoration: none;
}
#container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
header {
  display: flex;
  justify-content: center;
  height: 120px;
  background: #626257;
}
header img {
  width: 45px;
  height: 35px;
}
header ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}
header ul li:nth-child(1n+2) {
  margin-left: 20px;
}
header div:first-child,
header nav {
  margin: auto;
}
footer {
  position: fixed;
  height: 100px;
  background: #626257;
}
