.container
	.panel.panel-primary
		.panel-heading {{ vm.book.title }}
		.panel-body
			
			form(disable="true").form-horizontal
				fieldset
					.form-group
						label(for="title").control-label.col-md-2 Title:
						.col-md-6

							span(type="text" id="title").form-control {{ vm.book.title }}
					.form-group
						label(for="author").control-label.col-md-2 Author:
						.col-md-6
							span(type="text" id="author").form-control {{ vm.book.author }}
					.form-group
						label(for="genre").control-label.col-md-2 Genre:
						.col-md-3
							span(type="text" id="genre").form-control {{ vm.book.genre }}
					.form-group
						label(for="publisher").control-label.col-md-2 Publisher:
						.col-md-3
							span(type="text" id="publisher").form-control {{ vm.book.publisher }}
					.form-group
						label(for="publishedDate").control-label.col-md-2 Published Date:
						.col-md-2
							span(type="text" id="publishedDate").form-control {{ vm.book.publishedDate | date: "MMM dd, yyyy" }}
					.form-group
						label(for="price").control-label.col-md-2 price:
						.col-md-2
							span(type="text" id="price").form-control {{ vm.book.price | currency }}
					.form-group
						label(for="summary").control-label.col-md-2 Summary:
						.col-md-6
							textarea(type="text" id="summary" rows="8").form-control {{ vm.book.summary }}
		.panel-footer
			span
				button(ng-click="vm.cancel()").btn.btn-default 
					i.glyphicon.glyphicon-chevron-left Back
			span
				button(ng-click="vm.edit()").btn.btn-primary Edit
			button(ng-click="vm.remove()").btn.btn-danger.pull-right Delete
