.container
	.row
		ul#dashboard
			li.tile.title-author
				a(ui-sref="about")
					div.tile-icon
						i.glyphicon.glyphicon-education
					div
						a(ui-sref="about")
							span.bold About Me 
			li.tile.tile-book
				a(ui-sref="bookList")
					div.tile-icon
						i.glyphicon.glyphicon-book 
						span {{ vm.books.length }}
					div
						span.bold Collection
			li.tile.tile-add
				a(ui-sref="bookAdd")
					div.tile-icon
						i.glyphicon.glyphicon-plus
					div
						span.bold Book
	.row
		hr
		.form-group
			.col-md-1
				label(for="sortOption").control-label Order by:
			.col-md-2
				select(id="sortOption" ng-model="vm.sortOption").form-control
					option(ng-repeat="opt in vm.options") {{ opt }}
		.form-group
			.col-md-1
				label(for="searchFilter").control-label Search:
			.col-md-6
				input(id="searchFilter" name="searchFilter" placeholder="Search for a book by entering its title here ..." ng-model="vm.searchTerm.title").form-control
			.col-md-1
				button(ng-click="vm.clearSearch()").btn.btn-primary clear 
	.row
		hr
		table.table.table-striped.table-bordered
			thead
				tr
					th Title
					th Author 
					th Genre
					th Publisher
					th Date
					th Price
					th Edit
			tbody
				tr(ng-repeat="book in vm.books | orderBy: vm.sortOption | filter: vm.searchTerm:strict")
					td 
						a(ui-sref="bookDetail({ bookId: book._id })")
							span {{ book.title }}
					td {{ book.author }}
					td {{ book.genre }}
					td {{ book.publisher }}
					td {{ book.publishedDate | date }}
					td {{ book.price | currency }}
					td 
						a(ui-sref="bookEdit.info({ bookId: book._id })")
							i.glyphicon.glyphicon-pencil
