<div id="bookDetail">

    <div class="bookImage">
        <img ng-src="/images/books/{{ vm.book.imageUrl }}" alt="{{ vm.book.title }} image" />
    </div>

    <div class="bookInfo">
        <div class="heading author-heading">
            <h4>{{ vm.book.author }}</h4> 
        </div>
        <br />
        {{ vm.book.summary }}
        <br />
        <br />
        <div class="publishingDetail"> {{ vm.book.publisher }}, {{ vm.book.publishedDate | date }} </div>
    </div>
    <div class="reviews">
        <div class="heading">
            <h4>Reviews</h4>
        </div>
        <br />

        <ul>
            <li class="reviewList" data-ng-repeat="review in vm.book.reviews">
                <div>
                <div>
                    <strong>{{ review.reviewer }}</strong> &nbsp;
                    {{ review.reviewDate | date }}
                </div>
                <uib-rating class="rating" readonly="vm.isReadonly" data-ng-model="review.rating"></uib-rating>
                </div>
                <div class="comments"> "{{ review.comments }}"</div>
            </li>
        </ul>
    </div>

</div>
