.row
	ul#dashboard
		li.tile.title-author.col-md-4
			a(href="#/")
				div.tile-icon
					i.glyphicon.glyphicon-education
				div
					a(href="#/authors")
						span.bold Authors
		li.tile.tile-book.col-md-4
			a(href="#/books")
				div.tile-icon
					i.glyphicon.glyphicon-book 
					span {{ books.length }}
				div
					span.bold Books
		li.tile.tile-add.col-md-4
			a(href="#/book/add")
				div.tile-icon
					i.glyphicon.glyphicon-plus
				div
					span.bold Add
.row
	table.table.table-hover
		thead
			th.info Title
			th.info Author(s)
			th.info Genre 
			th.info Price 
		tbody(ng-repeat="book in books")
			tr
				td {{ book.title }}
				td {{ book.author }}
				td {{ book.genre }}
				td {{ book.price | currency }}

